.ipynb_checkpoints/
*.nc
*.mp4
Dados_brutos_Maare_2016_HDM.xlsx
MAArE_HDMdados_201508.xlsx
MAArE_HDMdados_201607_AdpRadMet.xlsx
MAArE_HDM_def_vars_201607.pdf
model_tides_and_wind.nc4
Protocolos_Tecnicos_PO_crip_2017.pdf
Relatorio_Final_2017_Vol.I_crip.pdf

